HS_API_KEY=
# HS_BASE_URL=https://app.jobsbyhumans.com

MAX_SCANS_PER_RUN=10
SC_QUERIES=unsigned artist,new music
# SC_PROFILES=https://soundcloud.com/someartist

# SLACK_WEBHOOK_URL=
# DISCORD_WEBHOOK_URL=
